* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #ff0000, #be0000);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.material-symbols-outlined {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/*-------------------banner section ---------------------*/

#banner {
    background-image: linear-gradient(to right, #ff0000, #be0000);
    color: #fff;
    padding-top: 5%;
}


.promo-title {
    font-size: 15px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: -12px;
}
.promo-title1 {
    font-size: 52px;
    font-weight: 700;
    
}
.promo-title2 {
    font-size: 35px;
    font-weight: 700;
    margin-top: -12px;
}


#banner a {
    color: #fff;
    text-decoration: nome;
}

.image-fluid {
    width: 100%;
    
}
.button-img {
    width: 100%;
}


/*-------------------about section ---------------------*/

#services {
    padding: 80px;
}


.service-img {
    width: 100px;
    margin-top: 20px;
    
}

.services {
    padding: 20px;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
    margin: 25px;
    text-transform: uppercase;
    font-variant-caps: petite-caps;
}
.title::before {
    content: '';
    background: #be0000;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after {
    content: '';
    background: #be0000;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
.services p {
    text-align: justify;
    align-self: center;
}



/*-------------------about section ---------------------*/

#sobre {
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8%;
    text-align: justify;
}

#sobre ul li {
    margin: 10px 0;
    
}

#sobre .row {
    align-items: center;
}

#sobre #imagem1 img{
    
    margin-bottom: 0px;
    align-self: end;
}

#social-media{
    background: #f8f9fa;
    padding: 100px 0;
    
}

#social-media p {
    font-size: 36px;
    font-weight: 600px;
    margin-bottom: 30px;
}
.social-icons img {
    width: 60px;
    transform: translateY(0px);
    animation: ass 5s ease-in-out infinite;
}

@keyframes ass {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

#footer {
    background-image: linear-gradient(to right, #ff0000, #be0000);
    color: #fff;
    
}

.footer-img {
    width: 100% ;
    
}
.footer-box {
    display: inline-block;
    padding: 2%;
      
}


.btn-submit {
    color: #fff;
    box-shadow: none;
    display: block;
    text-align: center;
    padding: 8px 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #be0000);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.footer-box .contatos1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    
}

.footer-box .contato{
    text-align: center;
    
}
.footer-box i{
    margin-right: 5%;
    

}

.footer-box .conteudo {
    padding-top: 25px;
}
.footer-box a{
    text-decoration: none;   
    color: #fff !important;
    font-weight: 600;
    
    text-align: left;
}
#label {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  
}

